@charset "utf-8";
/* CSS Document */
div#navigation ul li a  {

	width:74px;
    	text-align:center;
        	padding: 0 4px 0 3px;

}
#wrapper {
	width:990px;
}
#main {
	width:100%;
	margin:0px;
	padding:0px;
}
.right-module {
	width:300px;
}
#inner-wrapper  {
	width:100%;
}
#right-column 

{

float: right;

width: 304px;

margin-right: 0px;

}
#left-wrap-SEO 

{

float: left;

width: 666px;

margin-left: 0px;

}