<ifmodule mod_expires.c>
	<FilesMatch "\.(gif|jpg|png|swf|js|css)$">
		ExpiresActive on 
		ExpiresDefault "access plus 1 year"
	</FilesMatch>
</ifmodule>
<ifModule mod_headers.c>
  Header unset ETag
</ifModule>
FileETag None
